.messages {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 500px;
    margin-left: 100px;

}

.messages .ava img {
    position: absolute;
    width: 100px;
    border-radius: 50px;
    bottom: 0px;
}

.message {
    position: relative;
    background: darksalmon;
    border-radius: 10px 10px 10px 0px;
    max-width: 400px;
    margin-left: 10px;
    padding: 5px 10px;
}

.message:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(100% - 20px);
    border-top: 20px solid transparent;
    border-right: 20px solid darksalmon;
    border-bottom: 0px solid transparent;
}

.name {
    color: blueviolet;
    font-weight: bold;
}

.text {

}

.message .time {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: antiquewhite;

}